.input, .select {
    padding: 1rem 1.4rem;
	border-radius: 0.8rem;
	border: 1px solid #27ae60;
	transition: all 0.3s ease;

	&:hover {
		background-color: rgba(#ddd, 0.5);
		color: #000;
	}

	&_gray {
		border: 1px solid #ccc;
	}
}